*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
}

h1, h2, h4{
    text-align:center;
    margin-top:10px;
}
h1{
    margin-bottom:20px;
}
h1 span{
    color:background;
    text-decoration:underline;
}
h4 span{
    text-decoration:overline;
}

#cont{
    width:90%;
}

#uno, #dos, #tres{
    width:33%;
    float:left;
}

#uno ul, #dos ul, #tres ul{
    text-align: center;
}

#uno li, #dos li, #tres li{
    width:50%;
    margin:2px auto;
    border-bottom:1px dashed black;
}
#uno li:last-child, #dos li:last-child, #tres li:last-child{
    border:0;
}

a, #nar{
    color:orange;
}

p a{
    margin-left:4%;
    color:red;
}

#sec{
    margin-left:10%;
}
#neg{
    margin-right:3px;
    font-size:1.2em;
    font-weight: bold;
}

#titulo{
    text-align:left;
    color:#093;
}

#contForm{
    background-color:#ff9;
    padding:10px;
}

fieldset{
    width:70%;
    background-color:#cf9;
    padding:10px;
}
legend{
    color:#093;
}
#contForm p{
    margin-top:10px;
    color:#c00;
}

#aceptar, #borrar, #enviar, #limpiar, #recargar, cerrar{
    padding:2px 15px;
    margin:5px 20px;
}

#li{
    margin-left:10%;
}

#error{
    color:red;
    text-decoration:overline;
}