*{
    margin:0;
    padding:0;
    text-decoration:none;
    margin:0 auto;
}

h1, h2, h3, h4{
    text-align:center;
    margin-top:10px;
}
h1{
    margin-bottom:20px;
}
a, #nar{
    color:orange;
}

p a{
    margin-left:4%;
    color:red;
}

#aniadir, #limpiar, #finalizar{
    padding:2px 15px;
    margin:10px auto;
}

#error{
    color:red;
    text-decoration:overline;
}

img{
    display:block;
    width:350px;
    height:250px;
}
#peq{
    width:150px;
    height:100px;
}

select, input{
    display:block;
}

table, th, td{
    text-align:center;
    border:1px solid black;
    border-collapse:collapse;
    padding:3px;
}